name: Test

on:
  workflow_call:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
      - renovate/**

jobs:
  test-publish-mvn:
    name: It publishes sbt artefacts
    runs-on: ubuntu-latest
    environment: Publish to Nexus
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          java-version: '17'
          distribution: 'adopt'
      - uses: sbt/setup-sbt@ae54f7cfe46ec0d24ade661d77f007360ab48bda # v1
      - name: Set unique package version
        id: set-version
        run: |
          version=0.0.$GITHUB_RUN_NUMBER
          echo "ThisBuild / version := \"$version\"" > version.sbt
          echo "version=$version" >> $GITHUB_OUTPUT
        working-directory: "test"
      - name: Test the action
        uses: ./
        with:
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-passphrase: ${{ secrets.GPG_PASSPHRASE }}
          nexus-username: ${{ secrets.SONATYPE_USERNAME }}
          nexus-password: ${{ secrets.SONATYPE_PASSWORD }}
          working-directory: "test"
